:root .theme_dark {
  --background-image: url(../images/cover-image-dark.png);

  --main-color: #000028;
  --main-accent-color: #ff0070;
  --main-title-color: #db00ff;
  --text-color-link: #f1b2ce;
  --menu-hover-color: #ff007066;
}

.page.theme_dark {
  background-color: var(--main-color);
}

.theme_dark .header {
  background-image: var(--background-image);
}

.theme_dark .decorated-zone {
  color: var(--main-accent-color);
}

.theme_dark .header__decorated-element {
  display: block;
  color: var(--main-accent-color);
}

.theme_dark .header__theme-menu-button {
  color: var(--main-accent-color);
}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color);
}

.theme_dark .header__theme-menu-button:focus {
  outline: none;
}

.theme_dark .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--main-accent-color);
}

.theme_dark .header__theme-menu-button_active,
.theme_dark .header__theme-menu-button_active:hover {
  outline: none;
  border: 1px solid var(--main-accent-color);
}

.theme_dark .header__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px var(--main-accent-color);
}

.theme_dark .header__paragraph {
  background-color: var(--main-accent-color);
  color: var(--main-color);
}

/*____________________________________________________________________________*/

.theme_dark .content {
  background-color: var(--main-color);
}

.theme_dark .question-section__title,
.theme_dark .reason-section__title,
.theme_dark .advice-section__title {
  color: var(--main-accent-color);
}

.theme_dark .title-decor {
  color: var(--main-color);
  background-color: var(--main-accent-color);
}

.theme_dark .question-section__article-paragraph,
.theme_dark .reason-section__article-paragraph,
.theme_dark .advice-section__article-paragraph {
  color: var(--text-color);
}

.theme_dark .article__link {
  text-shadow: 2px 1px 0px var(--main-accent-color);
}

.theme_dark .article__link:hover {
  border-bottom: 2px solid currentColor;
}

.theme_dark .article__link:focus {
  outline: none;
}

.theme_dark .article__link:focus-visible {
  outline: 1px solid currentColor;
}


.theme_dark .footer {
  background-color: var(--main-color);
}

.theme_dark .footer__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px var(--main-accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);

    --main-color: #000028;
    --main-accent-color: #ff0070;
    --main-title-color: #db00ff;
    --text-color-link: #f1b2ce;
    --menu-hover-color: #ff007066;
  }

  .page {
    background-color: var(--main-color);
  }

  .header {
    background-image: var(--background-image);
  }

  .decorated-zone {
    color: var(--main-accent-color);
  }

  .header__decorated-element {
    color: var(--main-accent-color);
  }

  .header__theme-menu-button {
    color: var(--main-accent-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid var(--menu-hover-color);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--main-accent-color);
  }

  .header__theme-menu-button_active,
  .header__theme-menu-button_active:hover {
    outline: none;
    border: 1px solid var(--main-accent-color);
  }

  .header__title {
    color: var(--main-title-color);
    text-shadow: 4px 4px var(--main-accent-color);
  }

  .header__paragraph {
    background-color: var(--main-accent-color);
    color: var(--main-color);
  }

  .content {
    background-color: var(--main-color);
  }
  
  .question-section__title,
  .reason-section__title,
  .advice-section__title {
    color: var(--main-accent-color);
  }
  
  .title-decor {
    color: var(--main-color);
    background-color: var(--main-accent-color);
  }
  
  .question-section__article-paragraph,
  .reason-section__article-paragraph,
  .advice-section__article-paragraph {
    color: var(--text-color);
  }
  
  .article__link {
    text-shadow: 2px 1px 0px var(--main-accent-color);
  }

  .article__link:hover {
    border-bottom: 2px solid currentColor;
  }
  
  .article__link:focus {
    outline: none;
  }
  
  .article__link:focus-visible {
    outline: 1px solid currentColor;
  }
  
  
  .footer {
    background-color: var(--main-color);
  }
  
  .footer__title {
    color: var(--main-title-color);
    text-shadow: 4px 4px var(--main-accent-color);
  }
}
