:root .theme_light {
  --background-image: url(../images/cover-image-light.png);

  --main-color: #fff1f7;
  --main-accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --text-color-link: #353430;
  --menu-hover-color: #32312d66;
}

.page.theme_light {
  background-color: var(--main-color);
}

.theme_light .header {
  background-image: var(--background-image);
}

/* in dark --main-accent-color */
.theme_light .decorated-zone {
  color: var(--text-color-link);
}

.theme_light .header__decorated-element {
  display: none;
}
/* in dark --main-accent-color */
.theme_light .header__theme-menu-button {
  color: var(--text-color-link);
}

.theme_light .header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color);
}

.theme_light .header__theme-menu-button:focus {
  outline: none;
}
/* in dark --main-accent-color */
.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color-link);
}
/* in dark --main-accent-color */
.theme_light .header__theme-menu-button_active,
.theme_light .header__theme-menu-button_active:hover {
  outline: none;
  border: 1px solid var(--text-color-link);
}

.theme_light .header__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px var(--main-accent-color);
}

.theme_light .header__paragraph {
  background-color: var(--main-accent-color);
  color: var(--text-color-link);
}
/*____________________________________________________________________________*/

.theme_light .content {
  background-color: var(--main-color);
}

.theme_light .question-section__title,
.theme_light .reason-section__title,
.theme_light .advice-section__title {
  color: var(--text-color-link);
}

.theme_light .title-decor {
  color: var(--text-color-link);
  background-color: var(--main-accent-color);
}

.theme_light .question-section__article-paragraph,
.theme_light .reason-section__article-paragraph,
.theme_light .advice-section__article-paragraph {
  color: var(--text-color-link);
}

.theme_light .article__link {
  text-shadow: 2px 1px 0px var(--main-accent-color);
}

.theme_light .article__link:hover {
  border-bottom: 2px solid currentColor;
}

.theme_light .article__link:focus {
  outline: none;
}

.theme_light .article__link:focus-visible {
  outline: 1px solid currentColor;
}


.theme_light .footer {
  background-color: var(--main-color);
}

.theme_light .footer__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px var(--main-accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);

    --main-color: #fff1f7;
    --main-accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --text-color-link: #353430;
    --menu-hover-color: #32312d66;
  }

  .page {
    background-color: var(--main-color);
  }

  .header {
    background-image: var(--background-image);
  }

  /* in dark --main-accent-color */
  .decorated-zone {
    color: var(--text-color-link);
  }

  .header__decorated-element {
    display: none;
  }

  /* in dark --main-accent-color */
  .header__theme-menu-button {
    color: var(--text-color-link);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid var(--menu-hover-color);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  /* in dark --main-accent-color */
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color-link);
  }
  /* in dark --main-accent-color */
  .header__theme-menu-button_active,
  .header__theme-menu-button_active:hover {
    outline: none;
    border: 1px solid var(--text-color-link);
  }

  .header__title {
    color: var(--main-title-color);
    text-shadow: 4px 4px var(--main-accent-color);
  }
  /* in dark --main-accent-color */
  .header__paragraph {
    background-color: var(--main-accent-color);
    color: var(--text-color-link);
  }

  .content {
    background-color: var(--main-color);
  }
  
  .question-section__title,
  .reason-section__title,
  .advice-section__title {
    color: var(--text-color-link);
  }
  
  .title-decor {
    color: var(--text-color-link);
    background-color: var(--main-accent-color);
  }
  
  .question-section__article-paragraph,
  .reason-section__article-paragraph,
  .advice-section__article-paragraph {
    color: var(--text-color-link);
  }
  
  .article__link {
    text-shadow: 2px 1px 0px var(--main-accent-color);
  }

  .article__link:hover {
    border-bottom: 2px solid currentColor;
  }
  
  .article__link:focus {
    outline: none;
  }
  
  .article__link:focus-visible {
    outline: 1px solid currentColor;
  }
  
  
  .footer {
    background-color: var(--main-color);
  }
  
  .footer__title {
    color: var(--main-title-color);
    text-shadow: 4px 4px var(--main-accent-color);
  }
}
